In [3]:
import pandas as pd
df = pd.read_csv('sis.csv')
class PAU(): 
    mini, maxi, mat, name, age, grade = 0, 0, [], [], [], []
    def __init__(self):
        for i in range(len(df.Age)):
            if self.mini < df.Age[i] < self.maxi:
                self.mat.append(df.MatNo[i])
                self.name.append(df.Name[i])
                self.age.append(df.Age[i])
                self.grade.append(df.Grade[i])
        self.stuff = pd.DataFrame({"MatNo": self.mat, "Name": self.name, "Age": self.age, "Grade": self.grade})
    def show(self):
        self.stuff.to_csv(self.nom)
        return(self.stuff)
        
class The_Pirates(PAU):
    mini = 14
    nom = "The_Pirates.csv"
    maxi = 18
    def __init__(self):
        PAU.__init__(self)
        
class The_Yankees(PAU):
    mini = 18
    maxi = 22
    nom = "The_Yankees.csv"
    def __init__(self):
        PAU.__init__(self)
    
class The_Bulls(PAU):
    mini = 22
    maxi = 100000
    nom = "The_Bulls.csv"
    def __init__(self):
        PAU.__init__(self)

   MatNo             Name  Age  Grade
0   1811      Sola Egbune   23     55
1   1813    Martin Alegbe   25     77
2   1817  Durojaiye Adamu   24     60