In [14]:
num = int(input("Enter a number to generate its pattern = "))
for i in range(1, num + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter a number to generate its pattern = 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
num = 2
for i in range(2, 50):
    j = 2
    while (j <= (i/2)):
        if (i % j == 0):
            break
        j += 1
    if (j > i/j):
        print (i, "is a prime number")
print("done")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
done

In [8]:
num = int(input("Enter a number: "))
fact = 1
if num < 0:
    print("Sorry, the factorial doesn't exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        fact = fact * i
    print("Factorial of ", num, " is ", fact)

Enter a number: 0
The factorial of 0 is 1

In [23]:
num = int(input("Enter a number to be checked: "))
flag = False
if num > 1:
    for i in range(2, int(num / 2)):
        if(num % i == 0):
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")
else:
    print("Entered number <= 1, execute again")

Enter a number to be checked: 1
Entered number <= 1, execute again


<body>
    <table>
        <thead>
            <tr>
                <th colspan="4">GIRLS</th>
                <th colspan="4">BOYS</th>
            </tr>
            <tr>
                <th> NAME </th>
                <th> AGE </th>
                <th> HEIGTH </th>
                <th> SCORE </th>
                <th> NAME </th>
                <th> AGE </th>
                <th> HEIGTH </th>
                <th> SCORE </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Ann </td>
                <td> 14 </td>
                <td> 5.5 </td>
                <td> 80 </td>
                <td> Charles </td>
                <td> 15 </td>
                <td> 5.7 </td>
                <td> 85 </td>
            </tr>
            <tr>
                <td> Jane </td>
                <td> 16 </td>
                <td> 6 </td>
                <td> 85 </td>
                <td> Jude </td>
                <td> 16 </td>
                <td> 5.9 </td>
                <td> 74 </td>
            </tr>
            <tr>
                <td> Joan </td>
                <td> 14 </td>
                <td> 5.4 </td>
                <td> 70 </td>
                <td> James </td>
                <td> 16 </td>
                <td> 5.8 </td>
                <td> 87 </td>
            </tr>
            <tr>
                <td> Clare </td>
                <td> 17 </td>
                <td> 5.9 </td>
                <td> 60 </td>
                <td> Kelvin </td>
                <td> 17 </td>
                <td> 6.1 </td>
                <td> 75 </td>
            </tr>
            <tr>
                <td> Elizabeth </td>
                <td> 16 </td>
                <td> 5.6 </td>
                <td> 76 </td>
                <td> Prosper </td>
                <td> 14 </td>
                <td> 5.9 </td>
                <td> 68 </td>
            </tr>
        </tbody>
    </table>
</body>

Requirement already satisfied: tabulate in c:\users\sst-lab\anaconda3\lib\site-packages (0.8.9)
Note: you may need to restart the kernel to use updated packages.